name: 'Publish to nuGet.org'



on:
  workflow_dispatch: # To can dispatch manually
  push:
    branches:
      - main
    paths:
      - "src/**" # Only run when exists changes in source code



env:
  SDK_VERSION: '6.0.301'
  PACKAGE_PATH: ./src/**/*.nupkg
  NUGET_SERVER: https://api.nuget.org/v3/index.json
  OS_MACHINE: 'ubuntu-latest'



jobs:

  test-project:
    name: "Test nuget"
    runs-on: ${{ env.OS_MACHINE }}

    steps:
    - name: "Checkout"
      uses: actions/checkout@v3

    - name: "Setup .NET"
      uses: actions/setup-dotnet@v2
      with:
        dotnet-version: ${{ env.SDK_VERSION }}

    - name: "Restore dependencies"
      run: dotnet restore

    - name: "Build"
      run: dotnet build --configuration Release --no-restore

    - name: "Test"
      run: dotnet test --configuration Release --no-build --verbosity normal



  preparar-release:
    name: "Test nuget"
    runs-on: 'ubuntu-latest'
    needs: [test-project]

    steps:
    - name: "Checkout"
      uses: actions/checkout@v3
    
    - name: 'Install dependencies'
      run: npm ci
    
    - name: 'Run semantic-release'
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: npm run semantic-release --no-ci



  deploy-nuget:
    name: "Deploy nuget"
    runs-on: ${{ env.OS_MACHINE }}
    needs: [preparar-release]

    steps:
    - name: "Checkout"
      uses: actions/checkout@v3

    - name: "Setup .NET"
      uses: actions/setup-dotnet@v2
      with:
        dotnet-version: ${{ env.SDK_VERSION }}

    - name: "Restore dependencies"
      run: dotnet restore

    - name: "Build"
      run: dotnet build --configuration Release --no-restore

    - name: "Test"
      run: dotnet test --configuration Release --no-build --verbosity normal

    - name: "Pack"
      run: dotnet pack --configuration Release --no-build

    - name: "Publish nuget"
      run: dotnet nuget push ${{ env.PACKAGE_PATH }} --api-key ${{ secrets.NUGET_TOKEN }} --source ${{ env.NUGET_SERVER }} --skip-duplicate
